body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #394952;
    font-weight: 400;
    line-height: 1.7;
}
/*carousel section*/
.banner1,.banner2,.banner3,.banner4{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    overflow: hidden;
}

.imagenes{
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: zoom-out 3s linear infinite;
}

@keyframes zoom-out{
    100%{
        width: 100%;
    }
}
.text-box{
    width: 600px;
    top:200px;
    left: 100px;
    position: absolute;
    color: white;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}

@keyframes textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

.text-box1{
    animation-delay: 0s;
}

.text-box2{
    animation-delay: 3s;
}

.text-box3{
    animation-delay: 6s;
}

.text-box4{
    animation-delay: 9s;
}

.text-box h1{
    margin-bottom: 40px;
}

.text-box p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 80px;
}

.text-box span{
    background: red;
    height: 1px;
    width: 100px;
    position: absolute;
    left: 0;
}

.banner1{
    animation: slide1 12s linear infinite;
}

.banner2{
    animation: slide2 12s linear infinite;
}

.banner3{
    animation: slide3 12s linear infinite;
}

.banner4{
    animation: slide4 12s linear infinite;
}

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

/*About us Section*/
section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.position-relative {
    position: relative !important;
}

.counter-style1 {
    right: 0;
    bottom: 0;
    padding: 15px 20px 25px 20px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 8px 16px 0px rgb(17 12 79 / 10%);
    border-left: 3px solid #00baee;
    z-index: 1;
}

.container {
    margin-top: 950px;
}

.rounded {
    border-radius: 0.75rem !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.counter-style1 h4:after {
    content: '+';
    font-size: 50px;
    vertical-align: super;
}

.text-primary {
    color: #00baee !important;
}

.counter-style1 h4 {
    font-size: 60px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #004975;
}

.h5, h5 {
    font-size: 1.25rem;
}

.h6, h6 {
    font-size: 1rem;
}

.mb-1-6, .my-1-6 {
    margin-bottom: 1.6rem;
}

p {
    margin: 0 0 20px;
}

.list-style1 {
    margin-bottom: 0;
    list-style: none;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.list-style1 li {
    margin-bottom: 10px;
}

.list-style1 li:before {
    content: '\f058';
    font-family: Font Awesome\ 5 Free;
    font-weight: 400;
    color: #00baee;
    vertical-align: middle;
    padding-right: 10px;
}

.butn {
    background-color: #00baee;
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px 24px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    z-index: 9999;
    display: inline-block;
    letter-spacing: 1px;
    white-space: nowrap;
    transition: all 0.4s ease-in-out 0s;
    cursor: pointer;
    z-index: 0;
}

a {
    color: #00baee;
    text-decoration: none;
}

/*Services section*/
.seccion{
    padding: 120px 0;
    overflow: hidden;
}
.cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.text-center {
    text-align: center !important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}

.card-style1 {
    position: relative;
    display: block;
    transition: all 300ms ease;
    transform: perspective(1200px) rotateX(0deg) translateY(0px);
    border: 1px solid rgba(0,0,0,0.09);
    padding: 8px 8px 0 8px;
    height: 100%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}

.card-style1 .card-img {
    position: relative;
    display: block;
    background: #ffffff;
    overflow: hidden;
    border-radius: .25rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card-style1 .card-body {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 2rem;
    text-align: center;
}
.card-body {
   /* -ms-flex: 1 1 auto;*/
    flex: 1 1 auto;
    min-height: 1px;
 /*   padding: 1.25rem;*/
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.read-more:after {
    content: '\f0a9';
    font-family: Font Awesome\ 5 Free;
    font-weight: 600;
    padding-left: 8px;
    font-weight: 900;
    color: #00baee;
    vertical-align: middle;
}

.cont{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}

/*Why choose Us*/
.secciones {
    background-color: white!important;
}
.col-6 .mover{
    left:15px;
}
.media {
    display: flex;
    align-items: flex-start;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.icon-style1 {
    display: block;
    color: #fff;
    background: #00baee;
    font-size: 24px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: all 0.3s linear 0s;
   /* vertical-align: top;*/
}

.mr-1-6, .mx-1-6 {
    margin-right: 1.6rem;
}

.media-body {
    flex: 1;
}

.fa, .fas {
    font-weight: 900;
}

.display-30 {
    font-size: 0.9rem;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.mb-2-6, .my-2-6 {
    margin-bottom: 2.6rem;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.hoverstyle1 {
    overflow: hidden;
    border-radius: 0.25rem;
}

.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}

.hoverstyle1 img {
    transition: all 0.3s linear 0s;
}

.cover-background{
    background-color: black;
}

/*Our Team section*/
.team{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #f5f5f5 !important;
}

.team::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

.team::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.container2 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container2 .cardis{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container2 .cardis .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5;
}

.container2 .cardis:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}


.container2  .cardis .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}


.container2 .cardis .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container2 .cardis .content .contentBx h3{
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container2 .cardis .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container2 .cardis .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container2 .cardis .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

.container2 .cardis .sci li a{
    color: blue;
    font-size: 24px;
}

.container2 .cardis:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}

